*{letter-spacing: 1px;}
*{padding: 0; margin: 0; box-sizing: border-box; font-family: sans-serif;}

#body #title{
    display: flex;
    width: 100%;
    height: 150px;
    align-content: center;
    overflow: hidden;
}

#body #title h1{
    font-size: 50px;
    background-color: #083a80;
    color: white;
    align-content: center;
    width: 100%;
    padding: 0 120px;
    text-decoration-line: underline;
}

#text{
    padding: 50px 180px;
}

#text p{
    font-size: 18px;
    text-align: justify;
    word-spacing: 1px;
    padding: 5px 0;
    line-height: 2;
}

#image{
    padding: 0 180px;
    width: 100%;
}

#image img{
    width: 100%;
}
h6{
    font-size: 20px;
    font-weight: bold;
}
ul li{
    font-size: 18px;
    word-spacing: 1px;
    line-height: 2;
}
