*{padding: 0; margin: 0; box-sizing: border-box; font-family: sans-serif; }

/* ---------------Container---------------------- */
#Container{
    width: 100%;
    display: flex;
    overflow: hidden; 
    background-color: rgba(212, 212, 212, 0.329);
}


/*-------------main-left--------------*/
#main-left{
    width: 20%;
    position: relative;   z-index: 2000;
    display: flex;
    box-shadow: 3px 1rem 1rem -0.55rem hsla(0, 0%, 0%,0.25);
}
#main-left #subRight{
    width: 100%;
    background-color: rgba(24, 42, 109, 0.801);
    height: 840px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

#main-left #subRight #profil{
    background-color: rgb(255, 255, 255);
    padding: 20px 0;
}

#main-left #subRight #profil ion-icon{
    font-size: 70px;
    color: #083a80;
}

#main-left #subRight #profil h1{
    color: #000000;
    padding: 5px;
    font-size: 20px;
}

#main-left #subRight #profil p{
    font-size: 16px;
    color: #083a80;
    text-align: center;
}

#main-left #subRight #profil button[type="submit"]{
    padding: 8px 20px;
    border: none;
    border-radius: 5px;
    background-color: #228008;
    color: white;
    font-size: 16px;
    font-weight: bold;
}
button:hover{
    scale: 1.1;
    transition: all ease-in-out 200ms;
}

#main-left #subRight ul{
    overflow: hidden;
    padding: 0 30px;
}

#main-left #subRight ul li{
    list-style-type: none;
    margin: 20px 0;
    padding: 10px 0;
    /*background-color: rgb(168, 164, 164); */ 
}

#main-left #subRight ul li:hover{
    background-color: rgb(229, 237, 243);
    transition: all ease-in-out 500ms;
    color: #083a80;
    scale: 1.1;
    box-shadow: 0 1rem 0.5rem -0.75rem hsla(0, 0%, 0%,0.25);
}


#main-left #subRight ul li p{
    display: flex;
    width: 70%;
    justify-self: start;
    font-size: 18px;
    color: white;
    text-align: center;
}
ion-icon{
    width: 30%;
    font-size: 35px;
    color: aliceblue;
}

#main-left #subRight ul li:hover p{
    transition: all ease-in-out 500ms;
    color: #083a80;
    font-weight: bold;
}

#main-left #subRight ul li:hover ion-icon{
    transition: all ease-in-out 500ms;
    color: #083a80;
}

#main-left #subRight ul li a{
    display: flex;
    justify-content: center;
    align-items: center;
}

#main-left #subRight ul li h1{
    color: white;
    font-size: 24px;
}

/*-------------main-right--------------*/
#main-right{
    width: 80%;
}
#main-right .header {
    box-shadow: 0 1rem 1rem -0.55rem hsla(0, 0%, 0%,0.25);
    width: 100%;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: linear-gradient(rgba(24, 42, 109, 0.801),rgba(63, 87, 176, 0.801), rgb(148, 157, 210));
    cursor: pointer;
}
#main-right .header h1{
    color: white;
}
#main-right #body{padding: 5% 2%;}
#main-right table{
    width: 100%;
    height: auto;
    background-image: linear-gradient(rgb(14, 34, 112),rgb(246, 237, 237));
    border-radius: 10px 10px 0 0;
    border: none;
    border-spacing: 0;
}

thead tr{
    width: 100%;
    text-align: center;
}
thead tr th{
    padding: 15px 10px;
    color: white;
}
tbody{
    width: 100%;
    background-color: rgb(255, 255, 255);
}

tbody tr:hover{
    transition: all ease-in-out 500ms;
    background-color: rgb(237, 237, 237);
    box-shadow: 0 1rem 0.5rem -0.75rem hsla(0, 0%, 0%,0.25);
}

tbody tr td{
    font-size: 16px;
    padding: 15px;
    text-align: center;
}

tbody tr td .photo{
    width: 50px;
    height: 50px;
    overflow: hidden;
}

tbody tr td .photo img{
    width: 100%;
    height: 100%;
}
/* ----------------Button---------------- */
.show{
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: rgba(24, 42, 109, 0.801);
    box-shadow: 1px 1px 1px rgba(22, 46, 152, 0.801);
    color: white;
    font-size: 16px;
}
.show:hover{scale: 1.1; transition: all ease-in-out 500ms;}
.edit{
    padding: 10px ;
    border: none;
    border-radius: 5px;
    background-color: rgba(24, 109, 28, 0.801);
    color: white;
    font-size: 16px;
    box-shadow: 1px 1px 1px rgba(35, 173, 42, 0.801);
}
.delete{
    padding: 10px ;
    border: none;
    border-radius: 5px;
    background-color: rgba(154, 31, 31, 0.801);
    color: white;
    font-size: 16px;
    box-shadow: 1px 1px 1px rgba(230, 40, 40, 0.801);
}
a{text-decoration: none;}


.success{
    color: aliceblue;
    background-color: green;
    padding: 10px;
    margin: 20px;
    font-size: 16px;
    border-radius: 5px;

}