#body {
    width: 100%;
    margin: 0;
    padding: 50px 10%;
    padding-bottom: 100px;
}
#body .head {
     text-align: center;
     margin-bottom: 20px;
 }
#body .header h4 {
     margin: 0;
     font-size: 24px;
     color: #333;
     padding-top: 20px;
     text-align: center;
 }
#body .search-bar {
     width: 100%;
     max-width: 400px;
     padding: 10px;
     margin: 10px auto;
     display: block;
 }
#body  .category {
    padding: 20px 0px;
    justify-content: center;
 }
#body  .category h2 {
     font-size: 18px;
     color: #555;
     margin-bottom: 10px;
 }
#body .video-grid {
     display: grid;
     grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
     gap: 15px;
 }
#body  .video-card {
     background-color: #fff;
     border: 1px solid #ddd;
     border-radius: 5px;
     overflow: hidden;
     text-align: center;
     padding: 10px;
     box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
 }
#body  .video-card img {
     width: 100%;
     height: auto;
     border-bottom: 1px solid #ddd;
 }
#body  .video-card p {
     margin: 5px 0;
     font-size: 14px;
     color: #666;
 }
#body  .play-button {
     position: relative;
     display: inline-block;
     width: 100%; 
     height: 120px; 
     background-color: #00aaff;
 }
#body  iframe{
     width: 100%; 
     height: 100%; 
 }
#body  .play-button::before {
     content: '';
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
     width: 0;
     height: 0
 }